.logo {
    width: 150px;
    height: 150px;
}

.fotos-produtos {
    width: 150px;
    height: 150px;
}

header {
    background: #000000;
    padding:20px 0 ;
}

.caixa {
    position: relative;
    width: 740px;
    margin: 0 auto;
}

nav {
    position: relative;
    top: 130px;
    right: 0;

}

nav li {
    display:inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: hsl(227, 100%, 50%);
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid brown;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: blue;
}

.produtos li:active {
    border-color: blue;
}

.produtos li:hover h2 {
    font-size: 30px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;

}

.produto-descrição {
    font-size: 18px;
}

.produto-preço {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
footer{
    background: #00000000;
    text-align:center;
}
copyright {
    font-size: 20px;
    text-align: center;
  }