body {
    background: #000000
}

/*NAVEGAÇÃO ENTRE PAGINAS*/
.navegação {
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

nav li {
    display:inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
}
h1 {
    text-align: center
}

p {
    text-align: center;
}

#missao {
   font-size: 20px
}

em strong {
    color: #ff0000;
}